---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/answers/14545?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":37228,"user_id":23,"user_type":"moderator","accept_rate":71,"profile_image":"https://www.gravatar.com/avatar/e64b121f4d288e1f5a34d3f4dc8ebfb9?s=128&d=identicon&r=PG","display_name":"badp","link":"http://gaming.stackexchange.com/users/23/badp"},"is_accepted":true,"community_owned_date":1294942956,"score":16,"last_activity_date":1302480013,"last_edit_date":1302480013,"creation_date":1294942956,"answer_id":14545,"question_id":14541}],"has_more":false,"quota_max":10000,"quota_remaining":9994}'
  recorded_at: Mon, 08 Dec 2014 12:54:14 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/posts/14545/revisions?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"user":{"reputation":129,"user_id":6300,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/27c63a1bb199a1ec164e1879e33b2fb4?s=128&d=identicon&r=PG","display_name":"SmileyChris","link":"http://gaming.stackexchange.com/users/6300/smileychris"},"set_community_wiki":false,"is_rollback":false,"creation_date":1302480013,"post_id":14545,"post_type":"answer","revision_type":"single_user","revision_number":8,"comment":"Cocoa
        Beans can be found in dungeon chests now","revision_guid":"55FB7A95-EF4B-4B27-81F0-1AC393892622"},{"user":{"reputation":122260,"user_id":336,"user_type":"moderator","profile_image":"https://www.gravatar.com/avatar/0c02079e74de8563fdfa7e4ac1d87d76?s=128&d=identicon&r=PG","display_name":"Raven
        Dreamer","link":"http://gaming.stackexchange.com/users/336/raven-dreamer"},"set_community_wiki":false,"is_rollback":false,"creation_date":1295415695,"post_id":14545,"post_type":"answer","revision_type":"single_user","revision_number":7,"comment":"Added
    [...]
