---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/answers/29552?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
        McDonald","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald"},"is_accepted":true,"score":12,"last_activity_date":1315142802,"creation_date":1315142802,"answer_id":29552,"question_id":29551}],"has_more":false,"quota_max":10000,"quota_remaining":9999}'
  recorded_at: Mon, 08 Dec 2014 12:50:49 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/answers/29552/comments?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":12069,"user_id":8995,"user_type":"registered","accept_rate":93,"profile_image":"https://www.gravatar.com/avatar/39821e81acc4dd995c6a2488e051221f?s=128&d=identicon&r=PG","display_name":"Jeff
        Mercado","link":"http://gaming.stackexchange.com/users/8995/jeff-mercado"},"edited":false,"score":0,"creation_date":1315262792,"post_id":29552,"comment_id":43605}],"has_more":false,"quota_max":10000,"quota_remaining":9998}'
  recorded_at: Mon, 08 Dec 2014 12:50:49 GMT
recorded_with: VCR 2.9.3
