---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/answers/14264?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":2200,"user_id":2339,"user_type":"registered","accept_rate":91,"profile_image":"https://www.gravatar.com/avatar/b69cbde3e6c2f4497a33f26da9fb78ca?s=128&d=identicon&r=PG","display_name":"kazzamalla","link":"http://gaming.stackexchange.com/users/2339/kazzamalla"},"is_accepted":false,"score":8,"last_activity_date":1329735505,"last_edit_date":1329735505,"creation_date":1294626188,"answer_id":14264,"question_id":14263}],"has_more":false,"quota_max":10000,"quota_remaining":9992}'
  recorded_at: Mon, 08 Dec 2014 12:54:16 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/posts/14264/suggested-edits?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"proposing_user":{"reputation":6668,"user_id":3936,"user_type":"registered","accept_rate":80,"profile_image":"http://i.stack.imgur.com/xMMwa.png?s=128&g=1","display_name":"Private
        Pansy","link":"http://gaming.stackexchange.com/users/3936/private-pansy"},"approval_date":1329735505,"creation_date":1329735254,"post_type":"answer","post_id":14264,"suggested_edit_id":3508,"comment":"Code
        formatting, reduced number of paragraphs "}],"has_more":false,"quota_max":10000,"quota_remaining":9991}'
  recorded_at: Mon, 08 Dec 2014 12:54:16 GMT
recorded_with: VCR 2.9.3
