---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/answers/16573?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
        McDonald","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald"},"is_accepted":true,"score":37,"last_activity_date":1417349191,"last_edit_date":1417349191,"creation_date":1297703488,"answer_id":16573,"question_id":16568}],"has_more":false,"quota_max":10000,"quota_remaining":9996}'
  recorded_at: Mon, 08 Dec 2014 12:54:13 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/questions/16568?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"tags":["minecraft","minecraft-bukkit"],"owner":{"reputation":410,"user_id":6989,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/ba18a7993e58bea24288629332d21c41?s=128&d=identicon&r=PG","display_name":"kinofrost","link":"http://gaming.stackexchange.com/users/6989/kinofrost"},"is_answered":true,"view_count":21845,"protected_date":1402224236,"accepted_answer_id":16573,"answer_count":2,"score":29,"last_activity_date":1417349191,"creation_date":1297696460,"last_edit_date":1382526304,"question_id":16568,"link":"http://gaming.stackexchange.com/questions/16568/what-exactly-is-bukkit-for-minecraft","title":"What,
        exactly, is Bukkit for Minecraft?"}],"has_more":false,"quota_max":10000,"quota_remaining":9995}'
  recorded_at: Mon, 08 Dec 2014 12:54:13 GMT
recorded_with: VCR 2.9.3
