---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/badges/recipients?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"user":{"reputation":355,"user_id":87786,"user_type":"registered","accept_rate":100,"profile_image":"https://www.gravatar.com/avatar/651df87ae9fb4be84a26ced38500f9a5?s=128&d=identicon&r=PG","display_name":"Sebie","link":"http://gaming.stackexchange.com/users/87786/sebie"},"badge_type":"named","rank":"bronze","badge_id":290,"link":"http://gaming.stackexchange.com/badges/290/explainer","name":"Explainer"},{"user":{"reputation":101,"user_id":80107,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/a5388307045a08c547fa7eb150da8650?s=128&d=identicon&r=PG","display_name":"Pedro
        Henrique","link":"http://gaming.stackexchange.com/users/80107/pedro-henrique"},"badge_type":"named","rank":"bronze","badge_id":9,"link":"http://gaming.stackexchange.com/badges/9/autobiographer","name":"Autobiographer"},{"user":{"reputation":11,"user_id":94010,"user_type":"registered"[...]
