---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/badges?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"badge_type":"named","award_count":14984,"rank":"bronze","badge_id":1,"link":"http://gaming.stackexchange.com/badges/1/teacher","name":"Teacher"},{"badge_type":"named","award_count":12464,"rank":"bronze","badge_id":2,"link":"http://gaming.stackexchange.com/badges/2/student","name":"Student"},{"badge_type":"named","award_count":7056,"rank":"bronze","badge_id":3,"link":"http://gaming.stackexchange.com/badges/3/editor","name":"Editor"},{"badge_type":"named","award_count":320,"rank":"bronze","badge_id":4,"link":"http://gaming.stackexchange.com/badges/4/cleanup","name":"Cleanup"},{"badge_type":"named","award_count":881,"rank":"bronz[...]
