---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/badges/1?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"badge_type":"named","award_count":14984,"rank":"bronze","badge_id":1,"link":"http://gaming.stackexchange.com/badges/1/teacher","name":"Teacher"}],"has_more":false,"quota_max":10000,"quota_remaining":9990}'
  recorded_at: Mon, 08 Dec 2014 12:54:49 GMT
recorded_with: VCR 2.9.3
