---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/badges/tags?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"badge_type":"tag_based","award_count":24,"rank":"bronze","badge_id":192,"link":"http://gaming.stackexchange.com/badges/192/starcraft-2","name":"starcraft-2"},{"badge_type":"tag_based","award_count":7,"rank":"bronze","badge_id":193,"link":"http://gaming.stackexchange.com/badges/193/dwarf-fortress","name":"dwarf-fortress"},{"badge_type":"tag_based","award_count":9,"rank":"bronze","badge_id":195,"link":"http://gaming.stackexchange.com/badges/195/civilization-5","name":"civilization-5"},{"badge_type":"tag_based","award_count":7,"rank":"bronze","badge_id":203,"link":"http://gaming.stackexchange.com/badges/203/world-of-warcraft","name":"worl[...]
