---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/badges/1/recipients?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"user":{"reputation":11,"user_id":74587,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/0a07db9367c932c466e25c7124a814e1?s=128&d=identicon&r=PG&f=1","display_name":"davogotland","link":"http://gaming.stackexchange.com/users/74587/davogotland"},"badge_type":"named","rank":"bronze","badge_id":1,"link":"http://gaming.stackexchange.com/badges/1/teacher","name":"Teacher"},{"user":{"reputation":21,"user_id":94202,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/e93cefbcd3d39ca4445f272d67970523?s=128&d=identicon&r=PG","display_name":"dsmryder","link":"http://gaming.stackexchange.com/users/94202/dsmryder"},"badge_type":"named","rank":"bronze","badge_id":1,"link":"http://gaming.stackexchange.com/badges/1/teacher","name":"Teacher"},{"user":{"reputation":11,"user_id":94198,"user_type":"registered","profile_image":"https://lh3.googleu[...]
