---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/badges/1;2;3/recipients?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"user":{"reputation":11,"user_id":94010,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/9b2fba85f66ef9b0963f4985b76a85e2?s=128&d=identicon&r=PG","display_name":"Kim","link":"http://gaming.stackexchange.com/users/94010/kim"},"badge_type":"named","rank":"bronze","badge_id":2,"link":"http://gaming.stackexchange.com/badges/2/student","name":"Student"},{"user":{"reputation":31,"user_id":91258,"user_type":"unregistered","profile_image":"https://www.gravatar.com/avatar/ed6f7a9c37baa31e3abfec0552ec0b58?s=128&d=identicon&r=PG","display_name":"user91258","link":"http://gaming.stackexchange.com/users/91258/user91258"},"badge_type":"named","rank":"bronze","badge_id":2,"link":"http://gaming.stackexchange.com/badges/2/student","name":"Student"},{"user":{"reputation":11,"user_id":74587,"user_type":"registered","profile_image":"https://www.gra[...]
