---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/comments?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":260,"user_id":50863,"user_type":"registered","accept_rate":86,"profile_image":"https://www.gravatar.com/avatar/a25e85ca40555762d0070b40df7ff2d6?s=128&d=identicon&r=PG","display_name":"TrudleR","link":"http://gaming.stackexchange.com/users/50863/trudler"},"edited":false,"score":0,"creation_date":1418043060,"post_id":194332,"comment_id":263793},{"owner":{"reputation":751,"user_id":7098,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/67503d350d0e53e85750d835dafe5a10?s=128&d=identicon&r=PG","display_name":"Lysarion","link":"http://gaming.stackexchange.com/users/7098/lysarion"},"edited":false,"score":0,"creation_date":1418042055,"post_id":194781,"comment_id":263792},{"owner":{"reputation":6,"user_id":94134,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/3da70ad7d910eaae73b5c4b2c2[...]
