---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/comments/63977?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
        McDonald","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald"},"edited":false,"score":13,"creation_date":1325033236,"post_id":44287,"comment_id":63977}],"has_more":false,"quota_max":10000,"quota_remaining":9981}'
  recorded_at: Mon, 08 Dec 2014 12:55:46 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/posts/44287?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":2977,"user_id":1393,"user_type":"registered","accept_rate":100,"profile_image":"https://www.gravatar.com/avatar/d9af06ce2e277e3ade2eea8f1f4fe3d9?s=128&d=identicon&r=PG","display_name":"Aeo","link":"http://gaming.stackexchange.com/users/1393/aeo"},"score":17,"last_edit_date":1325041888,"last_activity_date":1399922485,"creation_date":1325032981,"post_type":"question","post_id":44287}],"has_more":false,"quota_max":10000,"quota_remaining":9980}'
  recorded_at: Mon, 08 Dec 2014 12:55:47 GMT
recorded_with: VCR 2.9.3
