---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/posts/16573?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
        McDonald","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald"},"score":37,"last_edit_date":1417349191,"last_activity_date":1417349191,"creation_date":1297703488,"post_type":"answer","post_id":16573}],"has_more":false,"quota_max":10000,"quota_remaining":9979}'
  recorded_at: Mon, 08 Dec 2014 12:56:09 GMT
recorded_with: VCR 2.9.3
