---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/posts/14665?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":138,"user_id":6361,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/2f56f147c441727ffd27a57d747f131c?s=128&d=identicon&r=PG","display_name":"Drew","link":"http://gaming.stackexchange.com/users/6361/drew"},"score":7,"last_edit_date":1344351433,"last_activity_date":1344351433,"creation_date":1295127185,"post_type":"question","post_id":14665}],"has_more":false,"quota_max":10000,"quota_remaining":9974}'
  recorded_at: Mon, 08 Dec 2014 12:56:11 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/posts/14665/suggested-edits?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"tags":["ps3","playstation","audio"],"proposing_user":{"reputation":4988,"user_id":2262,"user_type":"registered","accept_rate":87,"profile_image":"https://www.gravatar.com/avatar/0198a85bfde16c6a9db8503043bc68f4?s=128&d=identicon&r=PG","display_name":"KatieK","link":"http://gaming.stackexchange.com/users/2262/katiek"},"approval_date":1306178944,"creation_date":1306172766,"post_type":"question","post_id":14665,"suggested_edit_id":660,"comment":"Clarified
        title, question.","title":"How to use PS3 with a monitor?"}],"has_more":false,"quota_max":10000,"quota_remaining":9973}'
  recorded_at: Mon, 08 Dec 2014 12:56:12 GMT
recorded_with: VCR 2.9.3
