---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/posts?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":101,"user_id":9156,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/c7222380fd2b54e394b4fa306611b0b2?s=128&d=identicon&r=PG","display_name":"Francis
        Gilbert","link":"http://gaming.stackexchange.com/users/9156/francis-gilbert"},"score":0,"last_activity_date":1418043223,"creation_date":1418040719,"post_type":"question","post_id":194795},{"owner":{"reputation":1264,"user_id":6938,"user_type":"registered","accept_rate":78,"profile_image":"https://www.gravatar.com/avatar/3415ee81e7239cd7adc100344cfe16cc?s=128&d=identicon&r=PG","display_name":"Lohoris","link":"http://gaming.stackexchange.com/users/6938/lohoris"},"score":0,"last_activity_date":1418041623,"creation_date":1412859103,"post_type":"question","post_id":186571},{"owner":{"reputation":101,"user_id":2178,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/6e18f1f7becbfe66248caa034417b759?s=128&d=identicon&r=PG","display_name":"Kuroki[...]
