---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/privileges?key=0p65aJUHxHo0G19*YF272A((&page=1&pagesize=100&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"reputation":1,"description":"Ask a question or contribute
        an answer","short_description":"create posts"},{"reputation":5,"description":"Discuss
        the site itself,  bugs, feedback, and governance","short_description":"participate
        in meta"},{"reputation":10,"description":"Post more links, answer protected
        questions","short_description":"remove new user restrictions"},{"reputation":10,"description":"Create
        answers that can be easily edited by most users","short_description":"create
        wiki posts"},{"reputation":15,"description":"Bring content to the a[...]
