---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/questions/34055?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"tags":["evil-genius"],"owner":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
        McDonald","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald"},"is_answered":true,"view_count":4065,"accepted_answer_id":34056,"answer_count":1,"score":13,"last_activity_date":1361137879,"creation_date":1320340692,"last_edit_date":1320340847,"question_id":34055,"link":"http://gaming.stackexchange.com/questions/34055/how-can-i-maintain-the-loyalty-of-my-evil-minions","title":"How
        can I maintain the loyalty of my evil minions?"}],"has_more":false,"quota_max":10000,"quota_remaining":9965}'
  recorded_at: Mon, 08 Dec 2014 12:57:41 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/posts/34055/revisions?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"user":{"reputation":122260,"user_id":336,"user_type":"moderator","profile_image":"https://www.gravatar.com/avatar/0c02079e74de8563fdfa7e4ac1d87d76?s=128&d=identicon&r=PG","display_name":"Raven
        Dreamer","link":"http://gaming.stackexchange.com/users/336/raven-dreamer"},"set_community_wiki":false,"is_rollback":false,"creation_date":1320340847,"post_id":34055,"post_type":"question","revision_type":"single_user","revision_number":2,"title":"How
        can I maintain the loyalty of my evil minions?","last_title":"How do I keep
        the loyalty of my minions high?","comment":"title shuffling.","revision_guid":"FD2A2E09-757C-4F0A-A7A0-8AECC200666A"},{"user":{"reputation":4073,"user_id":821,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
        McDonald","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald"},"tags":["evil-genius"],"set_community_wiki":false,"is_rollback":false,"creation_date":1320340692,"post_id":34055,"post_type":"question","revision_type":"single_user","revision_number":1,"title":"How
        do I keep the loyalty of my minions high?","revision_guid":"99B01DF3-371C-4675-A90D-F3EF3029AAA5"}],"has_more":false,"quota_max":10000,"quota_remaining":9964}'
  recorded_at: Mon, 08 Dec 2014 12:57:42 GMT
recorded_with: VCR 2.9.3
