---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/questions/44903?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"tags":["dungeon-defenders"],"owner":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
        McDonald","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald"},"is_answered":true,"view_count":991,"accepted_answer_id":44904,"answer_count":1,"score":3,"last_activity_date":1325335103,"creation_date":1325334919,"question_id":44903,"link":"http://gaming.stackexchange.com/questions/44903/if-i-lock-an-item-will-it-be-sold-if-i-select-sell-all","title":"If
        I lock an item, will it be sold if I select sell all?"}],"has_more":false,"quota_max":10000,"quota_remaining":9968}'
  recorded_at: Mon, 08 Dec 2014 12:56:30 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/questions/44903/comments?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
        McDonald","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald"},"reply_to_user":{"reputation":4183,"user_id":1155,"user_type":"registered","accept_rate":100,"profile_image":"https://www.gravatar.com/avatar/39c0fde173cc7321c5d38d9e5e9f344f?s=128&d=identicon&r=PG","display_name":"Mr.
        November","link":"http://gaming.stackexchange.com/users/1155/mr-november"},"edited":false,"score":0,"creation_date":1326549601,"post_id":44903,"comment_id":67881},{"owner":{"reputation":4183,"user_id":1155,"user_type":"registered","accept_rate":100,"profile_image":"https://www.gravatar.com/avatar/39c0fde173cc7321c5d38d9e5e9f344f?s=128&d=identicon&r=PG","display_name":"Mr.
        November","link":"http://gaming.stackexchange.com/users/1155/mr-november"},"edited":false,"score":0,"creation_date":1325412952,"post_id":44903,"comment_id":65002}],"has_more":false,"quota_max":10000,"quota_remaining":9967}'
  recorded_at: Mon, 08 Dec 2014 12:56:30 GMT
recorded_with: VCR 2.9.3
