---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/questions/44903?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"tags":["dungeon-defenders"],"owner":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
        McDonald","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald"},"is_answered":true,"view_count":991,"accepted_answer_id":44904,"answer_count":1,"score":3,"last_activity_date":1325335103,"creation_date":1325334919,"question_id":44903,"link":"http://gaming.stackexchange.com/questions/44903/if-i-lock-an-item-will-it-be-sold-if-i-select-sell-all","title":"If
        I lock an item, will it be sold if I select sell all?"}],"has_more":false,"quota_max":10000,"quota_remaining":9963}'
  recorded_at: Mon, 08 Dec 2014 12:57:42 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/posts/44903/suggested-edits?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[],"has_more":false,"quota_max":10000,"quota_remaining":9962}'
  recorded_at: Mon, 08 Dec 2014 12:57:43 GMT
recorded_with: VCR 2.9.3
