---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/sites?key=0p65aJUHxHo0G19*YF272A((
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"styling":{"tag_background_color":"#E0EAF1","tag_foreground_color":"#3E6D8E","link_color":"#0077CC"},"related_sites":[{"relation":"meta","api_site_parameter":"meta.stackoverflow","site_url":"http://meta.stackoverflow.com","name":"Meta
        Stack Overflow"},{"relation":"chat","site_url":"http://chat.stackoverflow.com","name":"Stack
        Overflow Chat"}],"aliases":["http://www.stackoverflow.com","http://facebook.stackoverflow.com"],"markdown_extensions":["Prettify"],"launch_date":1221436800,"site_state":"normal","favicon_url":"http://cdn.sstatic.net/stackoverflow/img/favicon.ico","icon_url":"http://cdn.sstatic.net/stackoverflow/img/apple-touch-icon.png","audience":"professional
        and enthusiast programmers","site_url":"http://stackoverflow.com","api_site_parameter":"stackoverflow","logo_url":"http://cdn.sstatic.net/stackoverflow/img/logo.png","name":"Stack
        Overflow","site_type":"main_site"},{"styling":{"tag_background_color":"#F3F1D9","tag_foreground_color":"#444444","link_color":"#10456A"},"related_sites":[{"relation":"meta","api_site_parameter":"meta.serverfault","site_url":"http://meta.serverfault.com","name":"Meta
        Server Fault"},{"relation":"chat","site_url":"http://chat.stackexchange.com","name":"Chat
        Stack Exchange"}],"markdown_extensions":["Prettify"],"launch_date":1243296000,"site_state":"normal","twitter_account":"ServerFault","favicon_url":"http://cdn.sstatic.net/serverfault/img/favicon.ico","icon_url":"http://cdn.sstatic.net/serverfault/img/apple-touch-icon.png","audience":"professional
        system and network administrators","site_url":"http://serverfault.com","api_site_parameter":"serverfault","logo_url":"http://cdn.sstatic.net/serverfault/img/logo.png","name":"Server
        Fault","site_type":"main_site"},{"styling":{"tag_background_color":"#FFFFFF","tag_foreground_color":"#1087A4","link_color":[...]
