---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/tags/moderator-only?key=0p65aJUHxHo0G19*YF272A((&site=meta.gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"has_synonyms":false,"is_moderator_only":true,"is_required":false,"count":316,"name":"status-completed"},{"has_synonyms":false,"is_moderator_only":true,"is_required":false,"count":59,"name":"status-bydesign"},{"has_synonyms":false,"is_moderator_only":true,"is_required":false,"count":36,"name":"status-declined"},{"has_synonyms":false,"is_moderator_only":true,"is_required":false,"count":15,"name":"status-norepro"},{"has_synonyms":false,"is_moderator_only":true,"is_required":false,"count":9,"name":"faq"},{"has_synonyms":false,"is_moderator_only":true,"is_required":false,"count":4,"name":"community-ads"},{"has_synonyms":false,"is_moderator_only":true,"is_required":false,"count":2,"name":"status-deferred"},{"has_synonyms":false,"is_moderator_only":true,"is_required":false,"count":0,"name":"status-review"},{"has_synonyms":false,"is_moderator_only":true,"is_required":false,"count":0,"name":"featured"},{"has_synonyms":false,"is_moderator_only":true,"is_required":false,"count":0,"name":"status-reproduced"},{"has_synonyms":false,"is_moderator_only":true,"is_required":false,"count":0,"name":"status-planned"}],"has_more":false,"quota_max":10000,"quota_remaining":9958}'
  recorded_at: Mon, 08 Dec 2014 12:57:57 GMT
recorded_with: VCR 2.9.3
