---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/tags/required?key=0p65aJUHxHo0G19*YF272A((&site=meta.gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"has_synonyms":false,"is_moderator_only":false,"is_required":true,"count":1545,"name":"discussion"},{"has_synonyms":false,"is_moderator_only":false,"is_required":true,"count":433,"name":"support"},{"has_synonyms":false,"is_moderator_only":false,"is_required":true,"count":262,"name":"bug"},{"has_synonyms":false,"is_moderator_only":false,"is_required":true,"count":227,"name":"feature-request"}],"has_more":false,"quota_max":10000,"quota_remaining":9959}'
  recorded_at: Mon, 08 Dec 2014 12:57:57 GMT
recorded_with: VCR 2.9.3
