---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/tags/battlefield-3/info?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"has_synonyms":false,"is_moderator_only":false,"is_required":false,"count":361,"name":"battlefield-3"}],"has_more":false,"quota_max":10000,"quota_remaining":9955}'
  recorded_at: Mon, 08 Dec 2014 12:58:06 GMT
recorded_with: VCR 2.9.3
