---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/users/moderators/elected?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"badge_counts":{"bronze":781,"silver":504,"gold":90},"account_id":145699,"is_employee":false,"last_modified_date":1416968381,"last_access_date":1418002699,"reputation_change_year":7795,"reputation_change_quarter":889,"reputation_change_month":23,"reputation_change_week":10,"reputation_change_day":5,"reputation":122260,"creation_date":1279120016,"user_type":"moderator","user_id":336,"age":25,"accept_rate":99,"location":"Raleigh,
        NC","website_url":"http://none","link":"http://gaming.stackexchange.com/users/336/raven-dreamer","display_name":"Raven
        Dreamer","profile_image":"https://www.gravatar.com/avatar/0c02079e74de8563fdfa7e4ac1d87d76?s=128&d=identicon&r=PG"},{"badge_counts":{"bronze":358,"silver":234,"gold":35},"account_id":69074,"is_employee":false,"last_modified_date":1416736665,"last_access_date":1417999771,"reputation_change_year":4525,"reputation_change_quarter":238,"reputation_change_month":25,"reputation_change_week":0,"reputation_change_day":0,"reputation":50887,"creation_date":1282669348,"user_type":"moderator","user_id":3129,"age":31,"accept_rate":73[...]
