---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/users/821?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"badge_counts":{"bronze":61,"silver":34,"gold":2},"account_id":86843,"is_employee":false,"last_modified_date":1370240414,"last_access_date":1399547868,"reputation_change_year":180,"reputation_change_quarter":25,"reputation_change_month":0,"reputation_change_week":0,"reputation_change_day":0,"reputation":4073,"creation_date":1279200486,"user_type":"registered","user_id":821,"accept_rate":95,"location":"England,
        United Kingdom","website_url":"","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald","display_name":"Thomas
        McDonald","profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG"}],"has_more":false,"quota_max":10000,"quota_remaining":9947}'
  recorded_at: Mon, 08 Dec 2014 12:58:24 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/users/821/comments?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
        McDonald","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald"},"reply_to_user":{"reputation":4183,"user_id":1155,"user_type":"registered","accept_rate":100,"profile_image":"https://www.gravatar.com/avatar/39c0fde173cc7321c5d38d9e5e9f344f?s=128&d=identicon&r=PG","display_name":"Mr.
        November","link":"http://gaming.stackexchange.com/users/1155/mr-november"},"edited":false,"score":0,"creation_date":1326549601,"post_id":44903,"comment_id":67881},{"owner":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
        McDonald","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald"},"edited":false,"score":6,"creation_date":1326013727,"post_id":46020,"comment_id":66680},{"owner":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https[...]
