---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/users/821?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"badge_counts":{"bronze":61,"silver":34,"gold":2},"account_id":86843,"is_employee":false,"last_modified_date":1370240414,"last_access_date":1399547868,"reputation_change_year":180,"reputation_change_quarter":25,"reputation_change_month":0,"reputation_change_week":0,"reputation_change_day":0,"reputation":4073,"creation_date":1279200486,"user_type":"registered","user_id":821,"accept_rate":95,"location":"England,
        United Kingdom","website_url":"","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald","display_name":"Thomas
        McDonald","profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG"}],"has_more":false,"quota_max":10000,"quota_remaining":9933}'
  recorded_at: Mon, 08 Dec 2014 12:58:52 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/users/821/questions?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"tags":["minecraft"],"owner":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
        McDonald","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald"},"is_answered":true,"view_count":20770,"accepted_answer_id":37009,"answer_count":1,"score":6,"last_activity_date":1416505815,"creation_date":1321626469,"question_id":37008,"link":"http://gaming.stackexchange.com/questions/37008/what-does-the-server-difficulty-property-do","title":"What
        does the server difficulty property do?"},{"tags":["minecraft"],"owner":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
        McDonald","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald"},"is_answered":true,"view_count":8907,"protected_date":1398111695,"accepted_answer_id":30370,"answer_count":3,"score":25,"last_activity_date":1398092526,"creation_date":1316009096,"question_id":30365,"link":"http://gaming.stackexchange.com/questions/30365/what-does-right-clicking-with-the-sword-equipped-do","title":"What
        does right clicking with the sword equipped do?"},{"tags":["battlefield-3"],"owner":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
        McDonald","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald"},"is_answered":true,"view_count":11450,"accepted_answer_id":33734,"answer_count":2,"score":11,"last_activity_date":1397479356,"creation_date":1319994547,"question_id":33733,"link":"http://gaming.stackexchange.com/questions/33733/how-do-i-climb-onto-the-top-of-the-train","title":"How
        do I climb onto the top of the train?"},{"tags":["magicka"],"owner":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
        McDonald","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald"},"is_answered":true,"view_count":1337,"accepted_answer_id":23836,"answer_count":1,"score":7,"last_activity_date":1391075705,"creation_date":1307037513,"last_edit_date":1391075705,"question_id":23827,"link":"http://gaming.stackexchange.com/questions/23827/how-do-i-access-the-items-unlocked-in-the-nippon-dlc","title":"How
        do I access the items unlocked in the Nippon DLC?"},{"tags":["minecraft"],"owner":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
        McDonald","link":"http://gaming.stackexchang[...]
