---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/users/821?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"badge_counts":{"bronze":61,"silver":34,"gold":2},"account_id":86843,"is_employee":false,"last_modified_date":1370240414,"last_access_date":1399547868,"reputation_change_year":180,"reputation_change_quarter":25,"reputation_change_month":0,"reputation_change_week":0,"reputation_change_day":0,"reputation":4073,"creation_date":1279200486,"user_type":"registered","user_id":821,"accept_rate":95,"location":"England,
        United Kingdom","website_url":"","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald","display_name":"Thomas
        McDonald","profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG"}],"has_more":false,"quota_max":10000,"quota_remaining":9939}'
  recorded_at: Mon, 08 Dec 2014 12:58:42 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/users/821/favorites?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"tags":["minecraft"],"owner":{"reputation":9217,"user_id":1070,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/975ae0485d3ce61f08f4d72d881a8f69?s=128&d=identicon&r=PG","display_name":"authenticgeek","link":"http://gaming.stackexchange.com/users/1070/authenticgeek"},"is_answered":true,"view_count":298317,"protected_date":1321379397,"accepted_answer_id":8311,"answer_count":20,"score":192,"last_activity_date":1407427166,"creation_date":1285948160,"last_edit_date":1285981857,"question_id":8310,"link":"http://gaming.stackexchange.com/questions/8310/whats-the-most-efficient-minecraft-mining-strategy","title":"What&#39;s
        the most efficient Minecraft mining strategy?"},{"tags":["minecraft"],"owner":{"reputation":893,"user_id":8114,"user_type":"registered","accept_rate":100,"profile_image":"https://www.gravatar.com/avatar/9e702ee94f8b449ed333f749513716ca?s=128&d=identicon&r=PG","display_name":"Anto","link":"http://gaming.stackexchange.com/users/8114/anto"},"is_answered":true,"view_count":8816,"accepted_answer_id":19930,"answer_count":8,"score":20,"last_activity_date":1401701173,"creation_date":[...]
