---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/users/821?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"badge_counts":{"bronze":61,"silver":34,"gold":2},"account_id":86843,"is_employee":false,"last_modified_date":1370240414,"last_access_date":1399547868,"reputation_change_year":180,"reputation_change_quarter":25,"reputation_change_month":0,"reputation_change_week":0,"reputation_change_day":0,"reputation":4073,"creation_date":1279200486,"user_type":"registered","user_id":821,"accept_rate":95,"location":"England,
        United Kingdom","website_url":"","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald","display_name":"Thomas
        McDonald","profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG"}],"has_more":false,"quota_max":10000,"quota_remaining":9937}'
  recorded_at: Mon, 08 Dec 2014 12:58:43 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/users/821/mentioned?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":291,"user_id":25080,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/ea9a8236264509b01e471b5704f5cbec?s=128&d=identicon&r=PG","display_name":"Fnord
        Prefect","link":"http://gaming.stackexchange.com/users/25080/fnord-prefect"},"reply_to_user":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
        McDonald","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald"},"edited":false,"score":0,"creation_date":1326500889,"post_id":46020,"comment_id":67811},{"owner":{"reputation":37228,"user_id":23,"user_type":"moderator","accept_rate":71,"profile_image":"https://www.gravatar.com/avatar/e64b121f4d288e1f5a34d3f4dc8ebfb9?s=128&d=identicon&r=PG","display_name":"badp","link":"http://gaming.stackexchange.com/users/23/badp"},"reply_to_user":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
      [...]
