---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/users/821?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"badge_counts":{"bronze":61,"silver":34,"gold":2},"account_id":86843,"is_employee":false,"last_modified_date":1370240414,"last_access_date":1399547868,"reputation_change_year":180,"reputation_change_quarter":25,"reputation_change_month":0,"reputation_change_week":0,"reputation_change_day":0,"reputation":4073,"creation_date":1279200486,"user_type":"registered","user_id":821,"accept_rate":95,"location":"England,
        United Kingdom","website_url":"","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald","display_name":"Thomas
        McDonald","profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG"}],"has_more":false,"quota_max":10000,"quota_remaining":9931}'
  recorded_at: Mon, 08 Dec 2014 12:58:53 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/users/821/reputation?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"on_date":1415775064,"reputation_change":65,"vote_type":"up_votes","post_type":"question","post_id":34055,"user_id":821},{"on_date":1415128009,"reputation_change":370,"vote_type":"up_votes","post_type":"answer","post_id":16573,"user_id":821},{"on_date":1414708006,"reputation_change":270,"vote_type":"up_votes","post_type":"answer","post_id":20369,"user_id":821},{"on_date":1411140708,"reputation_change":580,"vote_type":"up_votes","post_type":"answer","post_id":24698,"user_id":821},{"on_date":1408709947,"reputation_change":125,"vote_type":"up_votes","post_type":"question","post_id":30365,"user_id[...]
