---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/users/821?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"badge_counts":{"bronze":61,"silver":34,"gold":2},"account_id":86843,"is_employee":false,"last_modified_date":1370240414,"last_access_date":1399547868,"reputation_change_year":180,"reputation_change_quarter":25,"reputation_change_month":0,"reputation_change_week":0,"reputation_change_day":0,"reputation":4073,"creation_date":1279200486,"user_type":"registered","user_id":821,"accept_rate":95,"location":"England,
        United Kingdom","website_url":"","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald","display_name":"Thomas
        McDonald","profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG"}],"has_more":false,"quota_max":10000,"quota_remaining":9935}'
  recorded_at: Mon, 08 Dec 2014 12:58:44 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/users/821/privileges?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"reputation":1,"description":"Ask a question or contribute
        an answer","short_description":"create posts"},{"reputation":5,"description":"Discuss
        the site itself,  bugs, feedback, and governance","short_description":"participate
        in meta"},{"reputation":10,"description":"Post more links, answer protected
        questions","short_description":"remove new user restrictions"},{"reputation":10,"description":"Create
        answers that can be easily edited by most users","short_description":"create
        wiki posts"},{"reputation":15,"description":"Bring content to the a[...]
