---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/users/821?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"badge_counts":{"bronze":61,"silver":34,"gold":2},"account_id":86843,"is_employee":false,"last_modified_date":1370240414,"last_access_date":1399547868,"reputation_change_year":180,"reputation_change_quarter":25,"reputation_change_month":0,"reputation_change_week":0,"reputation_change_day":0,"reputation":4073,"creation_date":1279200486,"user_type":"registered","user_id":821,"accept_rate":95,"location":"England,
        United Kingdom","website_url":"","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald","display_name":"Thomas
        McDonald","profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG"}],"has_more":false,"quota_max":10000,"quota_remaining":9941}'
  recorded_at: Mon, 08 Dec 2014 12:58:27 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/users/821/tags/battlefield-3/top-questions?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
        McDonald","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald"},"is_answered":true,"accepted_answer_id":37238,"answer_count":1,"score":16,"last_activity_date":1321713089,"creation_date":1321635755,"question_id":37051,"link":"http://gaming.stackexchange.com/questions/37051/what-is-the-range-of-the-eod-bot","title":"What
        is the range of the EOD bot?"},{"owner":{"reputation":4073,"user_id":821,"user_type":"registered","accept_rate":95,"profile_image":"https://www.gravatar.com/avatar/24cd55ab1a62ffb113ab8c02f64c9301?s=128&d=identicon&r=PG","display_name":"Thomas
        McDonald","link":"http://gaming.stackexchange.com/users/821/thomas-mcdonald"},"is_answered":true,"accepted_answer_id":33734,"answer_count":2,"score":11,"last_activity_date":1397479356,"creation_date":1319994547,"question_id":33733,"link":"http://gaming.stackexchange.com/questions/33733/how-do-i-climb-onto-the-top-of-the-train","title":"How
        do I climb onto the top of the train?"}],"has_more":false,"quota_max":10000,"quota_remaining":9940}'
  recorded_at: Mon, 08 Dec 2014 12:58:28 GMT
recorded_with: VCR 2.9.3
