---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/users/3936?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"badge_counts":{"bronze":70,"silver":38,"gold":8},"account_id":120992,"is_employee":false,"last_modified_date":1417959794,"last_access_date":1418042260,"reputation_change_year":944,"reputation_change_quarter":62,"reputation_change_month":12,"reputation_change_week":0,"reputation_change_day":0,"reputation":6668,"creation_date":1286446492,"user_type":"registered","user_id":3936,"age":20,"accept_rate":80,"location":"Singapore,
        Singapore","website_url":"http://meebleforp.com/","link":"http://gaming.stackexchange.com/users/3936/private-pansy","display_name":"Private
        Pansy","profile_image":"http://i.stack.imgur.com/xMMwa.png?s=128&g=1"}],"has_more":false,"quota_max":10000,"quota_remaining":9929}'
  recorded_at: Mon, 08 Dec 2014 12:58:54 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/users/3936/suggested-edits?key=0p65aJUHxHo0G19*YF272A((&site=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"proposing_user":{"reputation":6668,"user_id":3936,"user_type":"registered","accept_rate":80,"profile_image":"http://i.stack.imgur.com/xMMwa.png?s=128&g=1","display_name":"Private
        Pansy","link":"http://gaming.stackexchange.com/users/3936/private-pansy"},"approval_date":1330086002,"creation_date":1330085741,"post_type":"question","post_id":52209,"suggested_edit_id":3563,"comment":"Enbettered
        title ","title":"How do I execute these UFC 3 moves? "},{"proposing_user":{"reputation":6668,"user_id":3936,"user_type":"registered","accept_rate":80,"profile_image":"http://i.stack.imgur.com/xMMwa.png?s=128&g=1","display_name":"Private
        Pansy","link":"http://gaming.stackexchange.com/users/3936/private-pansy"},"approval_date":1329735507,"creation_date":1329735343,"post_type":"question","post_id":51167,"suggested_edit_id":3509,"comment":"Capitalization
        and spelling"},{"proposing_user":{"reputation[...]
